venv
.venv
docs
data
results
.github
__pycache__
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
.ipynb_checkpoints/
.DS_Store
.env
.env.*
.vscode/